.AlbumPageParameter {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin-top: 5vh;
  margin-left: 7vw;
}

.AlbumPageSearch {
  width: 70vw;
  height: 5vh;
  border-radius: 10px;
  padding-left: 0.5vw;
}

.AlbumPageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2vh;
  margin-left: 7vw;
  margin-right: 3vw;
  margin-bottom: 2vh;
}
