
:root {
    --explore-card-width: 1325px;
}


.exploreFilters {
    display: flex;
    flex-direction: row;

    width: 100%;

    padding-top: 2%;
    padding-left: 3vw;
}

.exploreCards {
    margin-top: 3vw;
    height: 90vh;
    overflow: auto;

}

.Explore-Reviews {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    position: relative;
}

.card {
    display: flex;
    flex-direction: row;
}

.cardInfo {
    width: 100%;
}

h3 {
    padding-left: !important 20px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.arrowRight {
	position: relative;
    top: 85px;
    left: -25px;
}

ul.exploreCards li {
    background-color: var(--color-primary-lightgrey);

    list-style-type: none;
    padding: 0;
    margin: 0;

    height: 200px;

    margin-left: 2.5%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.exploreCards h3 {
    position: relative;
    top: 1em;
    left: 1.5em;
}

.exploreCards img {
    height: 130px;
    width: 210px;

    position: relative;
    top: 35px;
    left: 2%;
}

.reviewCards {
    margin-top: 3vw;
    margin-bottom: 3vh;
    background-color: var(--color-primary-lightgrey);


    border-radius: 10px;
}

.reviewCard {
    height: 7em;
    width: 13em;

    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 10px;
    
}

.reviewContent {
    padding-top: 1em;
    height: 7em;
    width: 12em;
    overflow: auto;
    background-color: var(--color-primary-lightgreen);
}

.reviews {
    width: 18vw;
    overflow: auto;
    height: 30em;
}

ul.reviews {
    
    list-style-type: none;
    padding: 0;
    margin: 0;


    width: 18em;


}

ul.reviews li {
    background-color: var(--color-primary-lightgreen);

    list-style-type: none;
    padding: 0;
    margin: 0;

    height: 10em;
    width: 15em;

    margin-left: 1vw;
    border-radius: 10px;

}

.userReview {
    /* overflow: auto; */
    height: 8em; 
    width: 15em;
    margin-bottom: 2em;
}

.userReviewContent {
    height: 8em;
    width: 17em;
    background-color: white;
}


