.exploreFilters {
    display: flex;
    flex-direction: row;

    width: 100%;

    padding-top: 2%;
    padding-left: 3vw;
}

.exploreCards {
    padding-top: 3vw;
}

.Explore-Reviews {
    display: flex;
    flex-direction: row;
    position: relative;
}

.card {
    display: flex;
    flex-direction: row;
}

ul.exploreCards li {
    background-color: var(--color-primary-lightgrey);

    list-style-type: none;
    padding: 0;
    margin: 0;

    height: 30%;
    width: 1325px;

    margin-left: 2.5%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.exploreCards h3 {
    position: relative;
    top: 1em;
    left: 1.5em;
}

.exploreCards img {
    height: 21%;
    width: 15%;

    position: relative;
    top: 25%;
    left: 2%;
}


.reviewCards {
    margin-left: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vh;
    background-color: var(--color-primary-lightgrey);


    border-radius: 10px;
}

.reviewCard {
    height: 7em;
    width: 13em;

    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 10px;
    
}

.reviewContent {
    
}

.reviews {
    width: 18vw;
    overflow: auto;
    height: 30em;
}

ul.reviews {
    
    list-style-type: none;
    padding: 0;
    margin: 0;


    width: 18em;


}

ul.reviews li {
    background-color: var(--color-primary-lightgreen);

    list-style-type: none;
    padding: 0;
    margin: 0;

    height: 10em;
    width: 15em;

    margin-left: 1vw;
    border-radius: 10px;

}

.userReview {
    overflow: auto;
    height: 8em;
    width: 15em;
    margin-bottom: 2em;
}

.userReviewContent {
    height: 10em;
    width: 17em;
    background-color: white;
}


