:root {
  --explore-card-width: 1325px;
}

.exploreFilters {
  display: flex;
  flex-direction: row;

  width: 100%;

  padding-top: 2%;
  padding-left: 2vw;
}

.exploreSearch input {
  height: 40px;
  border-radius: 10px;
  width: 200%;
}

.exploreCards {
  margin-top: 3vw;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
  padding-top: 1px;
}

.Explore-Reviews {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  height: 70vh;
  position: relative;
}

.card {
  display: flex;
  flex-direction: row;
}

.cardInfo {
  width: 100%;
}

h3 {
  padding-left: !important 20px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrowRight {
  position: relative;
  top: 85px;
  left: -25px;
}

ul.exploreCards li {
  background-color: var(--color-primary-lightgrey);

  list-style-type: none;
  padding: 0;
  margin: 0;

  height: 200px;
  width: 97%;

  outline-style: solid;
  outline-color: black;
  outline-width: 1px;

  margin-left: 2.5%;
  margin-top: 0%;
  margin-bottom: 1%;
  border-radius: 10px;
}

.exploreCards h3 {
  position: relative;
  top: 1em;
  left: 1.5em;
}

.postReviewButton {
  margin-right: 0px;
  margin-top: 10px;
  margin-left: 1px;
}

.exploreCards img {
  height: 130px;
  width: 210px;

  position: relative;
  top: 35px;
  left: 2%;
}

.reviewCards {
  margin-top: 3vw;
  margin-bottom: 3vh;
  /* background-color: var(--color-primary-lightgrey); */
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  height: 100%;
  width: 80%;

  border-radius: 10px;
}

.reviewCard {
  height: 7em;
  width: 95%;


  margin-left: 1vw;
  margin-top: 1vw;
  border-radius: 10px;
}

.reviewContent {
  padding-top: 1em;
  height: 100%;
  width: 90%;
  overflow: auto;
  background-color: var(--color-primary-lightgreen);
}

.reviewName {
  width: 100%;
}

.reviews {
  width: 18vw;
  overflow: auto;
  height: 30em;
}

ul.reviews {
  list-style-type: none;
  padding: 0;
  margin: 0;

  width: 95%;
}

ul.reviews li {
  background-color: var(--color-primary-lightgreen);

  list-style-type: none;
  padding: 0;
  margin: 0;

  height: 10em;
  width: 90%;

  margin-left: 1vw;
  border-radius: 10px;
}

.userReview {
  /* overflow: auto; */
  height: 8em;
  width: 100%;
  position: relative;
  bottom: -1em;
  margin-left: 0.5vw;
}

.userReviewContent {
  height: 85%;
  width: 75%;
  background-color: white;
}
