.landingBodyGridItemLeft {
  justify-items: center;
}

.landingBodyGrid {
  display: grid;
  width: 100%;
  margin: 10vh 0;
  min-height: 70vh;
  grid-template-columns: 40% 60%;
  background-color: var(--color-secondary-grey);
}

.landingBodyText {
  text-align: justify;
  margin: 5%;
}

.landingBodyHeading {
  text-align: center;
  margin: 5%;
}

.landingBodyLogInOut {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  column-gap: 30px;
  margin-bottom: 5%;
  color: var(--color-text-secondary);
}

.landingBodyLogInOutButton {
  background-color: var(--color-primary-yellow);
  width: 275px;
  border-radius: 10px;
  margin: 1vw;
}

.landingBodyLogIn {
  justify-self: end;
}

.landingBodyImage {
  width: 50vw;
  height: 45vh;
}

.landingBodyGridItemRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
