

.LoginPage {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.LoginPageBox {
    position: absolute;
    top: 25%;
    width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.LoginPageTitle {
    margin-bottom: 5%;
}

.LoginPageInputBox {
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.LoginPageInputField {
    border: none;
    border: solid 1px black;
    border-radius: 10px;
    padding-left: 1vw;
}

.LoginPageSubmitButton {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border: none;
    background-color: var(--color-primary-green);
    border-radius: 10px;
    color: var(--color-text-secondary);
    cursor: pointer;
}

.LoginPageAlternatives {
    display: grid;
    width: 960px;
    position: absolute;
    top: 80%;
    grid-template-columns: 1fr 1fr;
    color: #0099FF;
}

.LoginPageAlternativesItem1 {
    text-align: left;    
}

.LoginPageAlternativesItem2 {
    text-align: right;
}
