.SettingsPage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.SettingsPageBox {
  position: absolute;
  top: 18%;
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SettingsTitle {
  margin-bottom: 25%;
  font-size: 50px;
  text-align: center;
}

.SettingsPageInputBox {
  display: inline;
  grid-template-columns: 100px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.SettingsPageInputField {
  border: solid 1px black;
  border-radius: 10px;
}

.SignUpPageSubmitButton {
  width: 600px;
  height: 60px;
  margin-top: 10px;
  border: none;
  background-color: var(--color-primary-green);
  border-radius: 10px;
  color: var(--color-text-secondary);
}

.PersonalInfo {
  width: 600px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  display: inline;
  padding: 0.5vh;
}

.SettingsPageForm {
  position: absolute;
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage2 {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 10px;
  left: -2vw;
  bottom: 20%;
  visibility: hidden;
}

.ChangeButton {
  width: 80px;
  height: 40px;
  right: 200px;
  top: 75px;
  margin-top: 10px;
  border: none;
  background-color: var(--color-primary-green);
  border-radius: 10px;
  color: var(--color-text-secondary);
  position: absolute;
}
