/* Stylesheet
 * For now put all styles here 
 * We can split it up later if we need to */

* {
    margin: 0;
    padding: 0;
} 

:root {
    /* Colours */
    --color-primary-green:         #499951;
    --color-secondary-green:       #086B06;

    --color-primary-lightgreen:    #90C18B;

    --color-primary-yellow:        #F5B24C;

    --color-primary-grey:          #D9D9D9;
    --color-secondary-grey:        #A5A5A5;
    --color-primary-lightgrey:     #F6F6F6;

    --color-text-primary:          #000000;
    --color-text-secondary:        #FFFFFF;

    /* Fonts */
    --font-primary: 'Fira Sans';



}

/* Local font access commented out (temp?) */
/* @font-face {
    font-family: 'Fira Sans';
    src: url('./public/fonts/FiraSans-Regular.otf');
} */


/* styles from Figma 
 * sizes should probably me made relative. */

h1 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

h2 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

/* body class 
 * There's probably a better way to do this */
.text1 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.text2 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.text3 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.logoText {
    position: absolute;
    left: 8%;
    right: 7%;
    top: 20%;
    bottom: 20%;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: var(--color-text-secondary);
}

.navbarLogo {
    position: relative;
    width: 100px;
    height: 100px;
}

.logoSpacer {
    border-right: 1px solid var(--color-secondary-green);
    height: 100px;
    opacity: 0.8;
}

.navbarBase {
    background-color: var(--color-primary-green);
    width: 100%;
    height: 100px;
}

.landingBodyGrid {
    display: grid;
    width: 100%;
    margin-top: 93px;
    height: 760px;
    grid-template-columns: 40% 60%;
    background-color: var(--color-secondary-grey);

}

.landingBodyGridItemLeft {
    justify-items: center;
}

.landingBodyGridItem {
    /* border: 1px solid rgba(0, 0, 0, 0.8); To Remove */
    
}


.landingBodyText {

    text-align: justify;
    margin: 5%;
}

.landingBodyHeading {
    text-align: center;
    margin: 5%;
}

.landingBodyLogInOut {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 30px;
    margin-top: 15%;
    color: var(--color-text-secondary);

}

.landingBodyLogInOutButton {
    background-color: var(--color-primary-yellow);
    width: 275px;
    border-radius: 10px;
}

.landingBodyLogIn {
    justify-self: end;
}

.landingBodyImage {
    width: 956px;
    height: 492px;
    
}

.landingBodyGridItemRight {
    display: flex;
    align-items: center;
    justify-content: center;
}
