/* Stylesheet
 * For now put all styles here 
 * We can split it up later if we need to */

* {
    margin: 0;
    padding: 0;
} 

:root {
    /* Colours */
    --color-primary-green:         #499951;
    --color-secondary-green:       #086B06;

    --color-primary-lightgreen:    #90C18B;

    --color-primary-yellow:        #F5B24C;

    --color-primary-grey:          #D9D9D9;
    --color-secondary-grey:        #A5A5A5;
    --color-primary-lightgrey:     #F6F6F6;

    --color-text-primary:          #000000;
    --color-text-secondary:        #FFFFFF;

    /* Fonts */
    --font-primary: 'Fira Sans';



}

/* Local font access commented out (temp?) */
/* @font-face {
    font-family: 'Fira Sans';
    src: url('./public/fonts/FiraSans-Regular.otf');
} */


/* styles from Figma 
 * sizes should probably me made relative. */

h1 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

h2, .heading2 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

/* body class 
 * There's probably a better way to do this */
.text1 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.text2 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.text3 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

ul.no-bullets {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}





